<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <title>Register</title>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h5 class="text-center mt-4">User ID Number</h5>
        <a href="admin.html" class="mt-5">Dashboard</a>
        <a href="allot.html">Allot</a>
        <a href="complaints.html">Complaints</a>
        <a href="suggestions.html">Suggestions</a>
        <a href="registerstudent.html" class="active">Register Students</a>
        <a href="registerhostelkeeper.html">Register Hostel Keeper</a>
        <a href="index.html">Logout</a>
    </div>
    <div class="content">
        <div class="top">
            <div class="container">
                <div class="row">
                   <div class="col-12 col-sm-4 mt-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Clean Requests</h5>
                            <h5>5</h5>
                            <p class="card-text">Since Last Week</p>
                        </div>
                    </div>
                   </div>
                   <div class="col-12 col-sm-4 mt-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Suggestions</h5>
                            <h5>7</h5>
                            <p class="card-text">Since Last Week</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mt-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Complaints</h5>
                            <h5>1</h5>
                            <p class="card-text">Since Last Week</p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-4">
                <div class="col-12 col-sm-12">
                    <div class="card bg-light">
                        <div class="card-header d-flex justify-content-between">Register New Student</div>

                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                  <div class="col">
                                      <h6>ID Number*</h6>
                                    <input type="text" class="form-control" placeholder="Enter Numeric Value">
                                  </div>
                                  <div class="col">
                                      <h6>Room Number*</h6>
                                    <input type="text" class="form-control" placeholder="Ex : C103">
                                  </div>
                                  <div class="col">
                                    <h6>Floor*</h6>
                                    <input type="text" class="form-control" placeholder="Enter Single Digit Number">
                                  </div>
                                </div>
                                <button type="submit" class="btn btn-primary mt-3">Register</button>
                              </form>
                         </div>
                    </div>

                </div>

            </div>

        </div>


    </div>




    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
