<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Allot</title>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bootstrap-social/bootstrap-social.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h5 class="text-center mt-4">User ID Number</h5>
      <a href="/admindashboard">Dashboard</a>
      <a href="/allot" class="active">Allot</a>
      <a href="/complaints">Complaints</a>
      <a href="/suggestions">Suggestions</a>
      <a href="/registerstudents">Register Students</a>
      <a href="/registerhostelkeeper">Register Hostel Keeper</a>
      <a href="/Logout">Logout</a>
    </div>
    <div class="content">
        <div class="top">
            <div class="container">
                <div class="row">
                   <div class="col-12 col-sm-4 mt-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Clean Requests</h5>
                            <h5>5</h5>
                            <p class="card-text">Since Last Week</p>
                        </div>
                    </div>
                   </div>
                   <div class="col-12 col-sm-4 mt-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Suggestions</h5>
                            <h5>7</h5>
                            <p class="card-text">Since Last Week</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mt-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Complaints</h5>
                            <h5>1</h5>
                            <p class="card-text">Since Last Week</p>
                        </div>
                    </div>
                </div>
                    
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-4">
                <div class="col-12 col-sm-12">
                    <div class="card bg-light">
                        <div class="card-header d-flex justify-content-between">Allot Hostel Keeper</div>
                        
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                  <div class="col">
                                      <h6>Request Id*</h6>
                                    <input type="text" class="form-control" placeholder="Enter ID">
                                  </div>
                                  <div class="col">
                                      <h6>Room Number</h6>
                                    <input type="text" class="form-control" placeholder="Room Number">
                                  </div>
                                  <div class="col">
                                    <h6>Time Requested</h6>
                                    <input type="text" class="form-control" placeholder="Time Requested">
                                  </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12 col-sm-6 mt-3">
                                        <label for="inputState">House Keeper*</label>
                                        <select id="inputState" class="form-control">
                                          <option selected>Ground Floor - vinit</option>
                                          <option>Floor 1 - ABC</option>
                                          <option>Floor 2 - ABD</option>
                                          <option>Floor 3 - ABE</option>
                                          <option>Floor 4 - ABF</option>
                                          <option>Floor 5 - ABG</option>
                                          <option>Floor 6 - ABH</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                              </form>
                         </div>
                    </div>

                </div>

            </div>

        </div>


    </div>




    <script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>    
</body>
</html>