<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">


    <title>Hostel Keeper</title>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bootstrap-social/bootstrap-social.css">
    <!-- CSS only -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
       <link rel="stylesheet" type = "text/css" href="/css/main.css">
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html" id="topone">Hostel Keeper</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal3">Sign In</a>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal">Sign Up</a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal4">Sign In</a>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal2">Sign Up</a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
             <li class="nav-item">
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for your City" aria-label="Search for your city">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
             </li>
              <!--Modal of User Sign In-->


              <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="container mt-5">
                <h1>Login</h1>

                <div class="row">
                  <div class="col-sm-8">
                    <div class="card">
                      <div class="card-body">

                        <!-- Makes POST request to /login route -->
                        <form action="/login" method="POST">
                          <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="username">
                          </div>
                          <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password">
                          </div>
                          <button type="submit" class="btn btn-dark">Login</button>
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <!--Modal of Admin Sign In-->


                <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="container mt-5">
                    <h1>Login</h1>

                    <div class="row">
                      <div class="col-sm-8">
                        <div class="card">
                          <div class="card-body">

                            <!-- Makes POST request to /Adminlogin route -->
                            <form action="/adminl" method="POST">
                              <div class="form-group">
                                <label for="username">Email</label>
                                <input type="email" class="form-control" name="username">
                              </div>

                              <div class="form-group">
                                <label for="password">Password</label>
                                <input type="number" class="form-control" name="password">
                              </div>
                              <button type="submit" class="btn btn-dark">Login</button>
                            </form>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <!--Modal of User Sign up-->



              <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="container mt-5">
                  <h1>Register</h1>

                  <div class="row">
                    <div class="col-sm-8">
                      <div class="card">
                        <div class="card-body">

                          <!-- Makes POST request to /login route -->
                          <form action="/register" method="POST">

                            <div class="form-group">
                              <label for="email">Email</label>
                              <input type="email" class="form-control" name="username" required>
                            </div>
                            <div class="form-group">
                              <label for="contact">Contact No.</label>
                              <input type="String" class="form-control" name="contact" required>
                            </div>
                            <div class="form-group">
                              <label for="password">Password</label>
                              <input type="number" class="form-control" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-success">Register</button>
                          </form>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


               <!--Modal of Admin Sign Up-->
               <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="container mt-5">
                   <h1>Register</h1>

                   <div class="row">
                     <div class="col-sm-8">
                       <div class="card">
                         <div class="card-body">

                           <!-- Makes POST request to /Adminlogin route -->
                           <form action="/adminr" method="POST">

                             <div class="form-group">
                               <label for="name">Name</label>
                               <input type="String" class="form-control" name="name" required>
                             </div>
                             <div class="form-group">
                               <label for="email">Email</label>
                               <input type="email" class="form-control" name="username" required>
                             </div>
                             <div class="form-group">
                               <label for="contact">Contact No.</label>
                               <input type="number" class="form-control" name="contact" required>
                             </div>
                             <div class="form-group">
                               <label for="city">City</label>
                               <input type="navbarDropdown" class="form-control" name="city" required>
                             </div>
                             <div class="form-group">
                               <label for="password">Password</label>
                               <input type="number" class="form-control" name="password" required>
                             </div>
                             <button type="submit" class="btn btn-success">Register</button>
                           </form>

                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
        </div>
      </nav>
      <!--Jumbotron-->
      <div class="jumbotron align-items-center text-center">
        <h1 class="display-4">Hire Hostelkeepers in Your Area !</h1>
        <p class="lead">Someone out there loves cleaning Rooms as much as you hate doing them. Hire a one-time or recurring cleaning service today.</p>
        <hr class="my-4">
        <a class="btn btn-success btn-lg" href="#"> Find my Hostel Keeper</a>
        <p class="lead mt-2">Are you looking for a hostelkeeping job? Apply Now.</p>
      </div>
      <!--After Jumbotron-->
      <div class="container">
        <h3 class="text-center" style="font-size: 50px;">Here's How It Works</h3>
        <div class="row mt-5">
          <div class="col-12 col-sm-4">
          <p>STEP 1</p>
          <h4>Locate a Provider Using Our Directory</h4>
          <p class="lead">Find your results based on experience or services offered. Whatever the desired skill, we'll help you find a provider.</p>
          </div>
          <div class="col-12 col-sm-4">
            <p>STEP 2</p>
            <h4>Connect With Your Selection</h4>
            <p class="lead mt-4">Reach out to potential hires through our platform by phone call or mail service.
            </p>
          </div>
          <div class="col-12 col-sm-4">
            <p>STEP 3</p>
            <h4>Shortlist Your Favorites and Hire</h4>
            <p class="lead">Narrow down your results and hire the one that stands out.</p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 col-sm-12 mt-3">
            <h3 class="text-center" style="font-size: 40px;">Helping You Find the Perfect Match Through...</h3>
            <h4 class="mt-5">Communication</h4>
            <p>Communicate safely with potential matches knowing that your identity is protected through our system. </p>
            <h4>Customer Support</h4>
            <p>Enjoy access to a world class customer support team dedicated to helping you find the perfect match for you.</p>
            <h4>Security</h4>
            <p>We, with our Team Members are always active & listening to you & your problems in order to find the better solution.</p>
            <h4>About Hostel Keepers</h4>
            <p>Hostel Keepers are always under survelliance while they are at work,so that to provide you Safety.</p>
            <h4>Hostel Keeper Selection made Easy. <span class="badge badge-danger"> NEW !</span></h4>
            <p>They are star marked according to their performances that could make it easier for you to select one.</p>
          </div>
        </div>
        <div class="row mt-4 text-center">
          <div class="col-12 col-sm-12">
            <button type="button" class="btn btn-lg btn-warning"> <a href="#topone" style="color: black;"> Browse Local Hostel Keepers Now</a></button>
          </div>
        </div>
        <br>
        <hr>
        <div class="row mt-5 text-center">
          <div class="col-12 col-sm-12">
            <h3 style="font-size: 50px;">Who We Are</h3>
            <p class="lead mt-3">Hostel Keeper is your go to online service for finding professional hostelkeeping jobs. Our website is a job posting service focused on connecting people with a community of qualified cleaning professionals for hostel cleaning. So whether you’re looking for them or you’re a professional cleaner looking for work, our website can help!</p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row mb-2 mt-3">
          <h5 class="lead text-center">We Work Hard to Keep Hostel Keeper a Safe Community</h5> <h5 class="lead ml-auto">©Anjani&ShashwatDevelopers2021</h5>
        </div>
      </div>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->



    <script language="javascript" src="js/bootstrap.min.js"></script>
    <script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
