.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:100vh;
}
.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
html {
  scroll-behavior: smooth;
}

 .jumbotron{
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #f1f1f1;

 }
 h3{font-family: 'Playfair Display', serif;
    font-size: 70px;
 }
 h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
 }
 .modal-content{
     color: black;
 }
 /*Sidebar*/
 .sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  /* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: rgb(11, 11, 68);
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: rgb(31, 200, 223);
    color: white;
  }
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 100vh;
  }
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  /*top*/
  .top{
      width: 100%;
      height: 40vh;
      background-image: url(img/2.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

  }